* {
	box-sizing: border-box;
}

body {

	margin: 0;
	background-color:  #ececec;
	font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/** Login Page Styles **/
.auth-form-container {
	width: 380px;
	height: 100%;
	margin: 0 auto;
	display: table;
	max-width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.auth-form-container>form {
	padding: 40px;
	margin-top: 100px;
	background: #FFFFFF;
	vertical-align: middle;
	border: 1px solid #eaeaea;
	border-top: 5px solid #f64c3b;
}
.auth-form-container [type="submit"] {
	width: 100%;
	color: #fff;
	padding: 10px;
	outline: none;
	display: block;
	font-size: 16px;
	margin-bottom: 35px;
	border: 1px solid #f64c3b;
	background-color: #f64c3b;
}

.auth-form-container [type="submit"]:focus,
.auth-form-container [type="submit"]:hover {
    background-color: #f7321f;
}

/** Common Styles For All User Pages **/
.header-name{
	margin: 0px;	
}
.header {
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index :1050;
    padding: 15px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Left-menu */
.side-menu {
	top: 85px;
    bottom: 0;
    left: 15px;
    width: 300px;
    position: fixed;
    overflow-y: auto;
    max-height: calc(100vh - 85px);
    padding: 22px;
    background: white;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.profile-details{
		text-align:center; 
}
.profile-details{
	display: flex;
   	justify-content: center;
}
.profile .profile-view{
	height: 75px;
   	width: 100px;
}
.profile-view{
	margin-bottom: 40px;	
}
.profile-view .profileImg{
	width: 100%;
} 
.profileImg{
    border-radius: 4px;
  	max-width: 100%;
  	height: auto;
  	vertical-align: middle;
}
.profile-name{
	font-size: 24px;
   	margin: 0;
   	font-weight:400;	
   	word-wrap: break-word;
   	line-height: 1.375;
}
.profile-name a{
    color: black;
   	text-decoration: none;
}
.profile-name  a:hover{
	text-decoration: underline;
}
.profile p{
  	/* margin: 0; */
 	color: #999;
}
.side-menu-links{
   	margin: 25px 0px;
}
.side-menu-links ul{
   	padding: 0;
   	text-align: center;
}
.side-menu-links ul li{
   	padding:8px 0px;
   	list-style-type: none;
	line-height:1.5714286;
	vertical-align:middle;
	cursor:pointer;
	color: #999		
}
.side-menu-links ul li:hover{
    background-color:#ECF0F3
}
.scroll-x-auto{
	overflow-x:auto;
}
.scroll-y-auto{
	overflow-y:auto;
}
.border-top{
  	border-top: 1px solid #e1e1e1;
}
.border-bottom{
  	border-bottom: 1px solid #e1e1e1;
}
.clear-fix{
   	clear: both;
}
/* Left-menu */


.view-wrapper {
	top: 85px;
    bottom: 0;
    left: 330px;
    padding: 15px;
    position: fixed;
    overflow-y: auto;
    width: calc( 100vw - 345px );
    max-height: calc(100vh - 85px);
}
.mar-0{
	margin:0;
}
.mar-5-0{
	margin: 5px 0;
}
.pad-8-13{
	padding: 8px 13px;
}
.pad-12{
	padding:12px;
}



/*25/10/2017 start */
.portlet {
    margin-bottom: 25px;
    border-radius: 4px;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.portlet.light.bordered {
    border: 1px solid #e7ecf1 !important;
}
.portlet-title-text {    
    background-color: #f3f4f6;
    padding: 10px 10px;
    /* border-radius: 4px;
    border: 1px solid lightgray; */
}
.portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #eef1f5;
}
.portlet.bordered>.portlet-title {
    border-bottom: 0;
}
.portlet>.portlet-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    border-radius: 4px 4px 0 0;
    
}
.portlet>.portlet-title>.caption {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}
.portlet.light .portlet-body {
    padding-top: 8px;
}
.portlet.light .portlet-body .table-scroll{
	overflow-x: auto; 
}
.tooltip {
    cursor: pointer;
    position: relative;
    content: attr(content);
}
.tooltip::before {
    position: absolute;
    top: -70px;
    left: -70px;
    background-color: #2B222A;
    border-radius: 5px;
    color: #fff;
    content: attr(content);
    padding: 5px;
    width: 150px;
}
.tooltip::after {
    position: absolute;
    top: -12px;
    left: 9px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2B222A;
    content: " ";
    font-size: 0;
    line-height: 0;
    margin-left: -5px;
    width: 0;
}
.tooltip::before, .tooltip::after {
    color: #efefef;
    font-family: monospace;
    font-size: 12px;
    opacity: 0;
    text-align: center;
}
.tooltip:focus::before, .tooltip:focus::after, .tooltip:hover::before, .tooltip:hover::after {
    opacity: 1;
    
}

/*  End  */

/** Common Styles For All User Pages **/


.error-msg{
	left: 3px;
	top: 41px;
    position: absolute;
    color: red;
    font-size: 12px;
}
.error-msg.error-pattern{
	left :230px
}
/* overlay loader */
.overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 4000;
	opacity: 0;
	position: fixed;
	visibility: hidden;
	transition: all 0.4s;
	background-color: #000;
}
.overlay.show {
	opacity: 0.7;
	visibility: visible;
}
.absolute {
	position: absolute;
}
.form-loader{
	font-size: 8em;
	position:absolute;
	margin:auto;
    top: 15vh;
    bottom: 0;
    left: 25vh;
    right: 0;
    height: 30vh;
    width: 50vh;
    z-index: 999;
    visibility: hidden;
    color: #6ac7bb;
}
.form-loader.show{
	visibility: visible;
}
.form-loader .fa.over-dialog-spin{
	background-color: inherit ;
	font-size : 100px;
}
.form-loader.over-dialog{
	 height: 70vh;
   	 width: 40vh;
   	 z-index: 4999;
}
/* form-loader ends  */
